@import url('https://fonts.google.com/specimen/Poppins?query=poppin#:~:text=%40import%20url(%27https%3A//fonts.googleapis.com/css2%3Ffamily%3DPoppins%26display%3Dswap%27)%3B');

body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    text-transform: capitalize;
}

.calculator{
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    width: 270px;
    height: 450px;
    margin: 0 auto;
}

.display{
    background-color: rgb(0, 0, 0);
    width: 266px;
    height: 150px;
    
    border-radius: 15px 15px 0 0;
    border: 0;
}