@import url('https://fonts.google.com/specimen/Poppins?query=poppin#:~:text=%40import%20url(%27https%3A//fonts.googleapis.com/css2%3Ffamily%3DPoppins%26display%3Dswap%27)%3B');

body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}
