@import url('https://fonts.google.com/specimen/Poppins?query=poppin#:~:text=%40import%20url(%27https%3A//fonts.googleapis.com/css2%3Ffamily%3DPoppins%26display%3Dswap%27)%3B');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
    text-transform: capitalize;
}

.calculator{
    background-color: #121212;
    border-radius: 15px;
    width: 270px;
    height: 500px;
    margin: 0 auto;
}

.display{
    background-color: transparent;
    color: white;
    font-size: 36px;
    text-align: right;
    
    width: 266px;
    height: 150px;
    
    border-radius: 15px 15px 0 0;
    border: 0;
}

.keys{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.number, 
.operator{
    color: white;
    font-weight: bolder;
    font-size: 18px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: 0;
}

.number:hover{
    background-color: rgb(83, 83, 83);
}

.number{
    background-color: rgb(55, 55, 55);
}
.zero{
    width: 116px;
}

.operator{
    background-color: rgb(255, 165, 0);
}
.operator:hover{
    background-color: rgb(255, 181, 44);
}